{% extends 'add.html' %}


<!-- Title on tab browser -->
{% block title %}Edit product{% endblock %}


<!-- Navbar content -->
{% block navbar-content%}
    <i class="text-warning fas fa-pen"></i>&nbsp;&nbsp; Edit Product : {{product.name}} 
{% endblock navbar-content%}


<!--   ======= Block card color and title ======= -->
{% block card-color %} border-dark text-dark bg-warning {% endblock card-color %}
{% block card-title%} <strong>Registered at: &nbsp;&nbsp; </strong><span>{{product.created | date:'Y/m/d (H:i)'}}</span> {% endblock card-title%}

<!--   ======= form action ======= -->
{% block action %}action="/edit_product"{% endblock action %}

<!--   ======= button action ======= -->
{% block btn-action %}
    <button type='submit' class='btn btn-secondary mb-3 btn-action' disabled >
        <i class="fas fa-server"></i> &nbsp;&nbsp; Save Changes 
    </button>
{% endblock btn-action %}

{% comment %} <!-- {% block btn-action %}<i class="fas fa-server"></i> &nbsp;&nbsp; Save Changes {% endblock btn-action %} -->  {% endcomment %}

<!--   ======= {{inputs}} ======= -->
{% block value-id %} 
    <div class="input-group mb-3">
        <span class="side-label btn border-secondary bg-light"><i class="fas fa-key"></i></span>
        <input type="text" class="form-control" name='id' maxlenght='40' placeholder='Product id...' value='{{product.id}}' readonly >
    </div>
{% endblock value-id %}

{% block value-name %} value='{{product.name}}' {% endblock value-name %}

{% block value-purchase %} value='{{product.purchase}}' {% endblock value-purchase %}

{% block value-sale %} value='{{product.sale}}' {% endblock value-sale %}

{% block value-qty %} value='{{product.qty}}' {% endblock value-qty %}

{% block option %}
    <option style='background-color:#d3d3d3; color: #111; '> {{product.gender}} </option>
{% endblock option %}

{% block note %} {{product.note}} {% endblock note %}

<!--   ======= END // {{inputs}} ======= -->

<!-- Content hidden (needed to compare the information to activate or desactivate el button "Save Changes")  -->
{% block save-changes %} 
    <div class="text-center mt-1 mb-1"  style='display: none;'  >
        <input id='name2' value="{{product.name}}">
        <input id='purchase2' value="{{product.purchase}}">
        <input id='sale2' value="{{product.sale}}">
        <input id='qty2' value="{{product.qty}}">
        <input id='gender2' value="{{product.gender}}">
        <input id='note2' value="{{product.note}}">
    </div>
{% endblock save-changes %}


<!-- Confirm save changes  -->
{% block btn-saveHidden %} 
    <button id="modal-confirm" type="button"  style='display: none;'  data-bs-toggle="modal" data-bs-target="#saveModal">Button</button>
{% endblock btn-saveHidden %}

<!-- ID back here (and denied in add.html) -->
{% block btn-back%} id='btn-back' {% endblock btn-back%}



{% comment %} style='display: none;' {% endcomment %}