{% extends 'base.html' %}


<!-- Navbar content -->
{% block navbar-content%}
    <i class="text-warning fas fa-tshirt"></i>&nbsp;&nbsp; Product List
{% endblock navbar-content%}


<!-- Page content -->
{% block content %}
    <div class='container'>

    <br><br>

    <a href="{% url 'add_product'%}" class="btn btn-outline-secondary btn-sm"><i class="fas fa-plus"></i>&nbsp;&nbsp; Add Product</a>
    <table class="table table-bordered table-striped table-hover table-sm mt-2" style='text-align: center; font-size:12px;' >
        <thead class="table-warning">
            <tr>
                <th style="width:25%;">Name</th>
                <th style="width:10%;">Purchase</th>
                <th style="width:10%;">Sale Price</th>
                <th style="width:10%;">Qty</th>
                <th style="width:15%;">Gender</th>
                <th style="width:15%;">Registered</th>
                <th style="width:10%;" colspan="2">Actions </th>
            </tr>
        </thead>
        <!-- BACKEND DATABASE -->
        {% for product in products %}
            <tr>
                <td> {{product.name}}</td>
                <td> {{product.purchase}}</td>
                <td> {{product.sale}}</td>
                <td> {{product.qty}}</td>
                <td> {{product.gender}}</td>
                <td> {{product.created | date:'Y/m/d (H:i)'}}</td>
                <td>
                    <a href="/product/{{product.id}}" class='btn btn-warning' title='Edit Product'>
                        <i class="fas fa-pen"></i>
                    </a>
                </td>
                <td>
                    <a href="/delete_product/{{product.id}}" class='btn btn-danger btn-actions' title='Delete Product'>
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </td>
            </tr>

        {% endfor %}
    </table>

    </div> <!-- /.container -->

    <!--   Messages from BACKEND   --> 
    {% for message in messages %}
        {% if message.tags == 'success' %}
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script >
                var m = "{{ message }}"
                swal("Perfect !",m, "success")
            </script>
        {% endif %}
    {% endfor %}


{% endblock content %}

